/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
}

/* HERO SECTION */
.top-container {
    background-color: #6B3F69;
    color: #F5F3E7;
    text-align: center;
    padding: 100px 20px;
}

.top-container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-img {
    width: 300px;
    max-width: 90%;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
    color: #6B3F69;
    margin-bottom: 20px;
}

p, ul {
    font-size: 1.1rem;
    color: #444;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .top-container h1 {
        font-size: 2.2rem;
    }

    section {
        padding: 40px 18px;
    }
}



/* PROJECTS SECTION */
.projects-section {
    text-align: center;
    padding: 80px 20px;
}

.projects-section h2 {
    font-size: 3rem;
    color: #5A2A6E;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project-card a {
    text-decoration: none;
    color: inherit;
}


.project-card img {
    width: 100%;
    aspect-ratio: 16 / 10;  
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.project-card h3 {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
}

/* Hover */
.project-card img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .project-card {
        width: 90%;
    }
}

/* FOOTER */
.footer {
    background-color: #6B3F69;
    text-align: center;
    padding: 30px 10px;
    margin-top: 60px;
    font-size: 1rem;
    
}

.footer p {
    margin: 5px 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    color:#F5F3E7;

}
